[Desktop Entry]
Name=Virtual Microscope
Name[pt_BR]=Microscópio Virtual
Comment=Simulated microscope for students
Comment[pt_BR]=Microscópio simulado para estudantes
Icon=itg_logo
Exec=virtual-microscope
Terminal=false
NoDisplay=false
Type=Application
Categories=Education;Science;
